body {
  background-color: yellow;
}

p{width: 50%;
background: cyan;
border: 1px solid blue;}

/* selector > */ a { color: black;}

a:hover {color: red;
border-bottom:none;}


img {
  max-width: 100%;
}


</div>
/* body,h1,h2,h3,h4 */
