* {
        margin: 0px; padding: 0px;
}

body {
  background-color: #FDF7CF;
  font-family: 'UnifrakturCook', cursive;
  font-family: 'Open Sans', sans-serif;
}

.desc{
  color: #45A5B0;
  font-family: 'Open Sans', sans-serif;
  font-size: 38px;
}
#container
width: 500px;
height: 300px;
position: relative;
background: pink;

#exercise a:link {
  color: #000000;
}

h1{
  font-family: 'UnifrakturCook', cursive;
  color:#B06D91
}

h3{
  font-family: 'UnifrakturCook', cursive;
  color:#FDB7DC;
  font-size: 38px;
}

p{
  font-family: 'Lobster', cursive;
  font-weight: 200;
  right-margin;
  font-style: normal;
  margin-right:300px;
  color:#60631a;
}
