* {
        margin: 0px; padding: 0px;
}

body {
  background-color: #C5C62F;
  font-family: 'UnifrakturCook', cursive;
  font-family: 'Open Sans', sans-serif;
}

#container
width: 500px;
height: 300px;
position: relative;
background: pink;

a {
  color: #C5C62F;
}

h1{
  font-family: 'UnifrakturCook', cursive;
  color:#C5C62F;
}

h3{
  font-family: 'UnifrakturCook', cursive;
  color:#8cdd40
}

p{
  font-family: 'Lobster', cursive;
  font-weight: 200;
  right-margin;
  font-style: normal;
  margin-right:300px;
  color:#60631a;
}
