
body {
  background-color: #FFEFEC;
  margin-left: 200px;
  margin-right: 200px;
  font-family: cora, sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  color: black
}

p{
  font-family: cora, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}


img {
  max-width: 100%;
}
