
body {
  background-color: #a2a832;
  padding:0;
  margin-left: 100px;
  margin-right: 400px;
  line-height: 1.5;
  font-family: 'Gayathri', sans-serif;
  font-family: 'Manjari', sans-serif;
  font-family: 'Lobster', cursive;
}

a {
  color: #aee779
}

h1{color:#aee779
}

h1{color:#aee779
}

h2{color:#8cdd40
}

p{
  font-family: 'Gayathri', sans-serif;
  font-family: 'Manjari', sans-serif;
  font-family: 'Lobster', cursive;
  font-weight: 200;
  right-margin;
  font-style: normal;
  margin-right:300px;
  color:#60631a;
}

a:link, a:visited {
  color: #2a4213a;
  padding:50px 22px;
  text-align: center;
  text-decoration: inherit;
  display: inline-flex;
}
#nav {
  position: sticky;
  margin-top: 80px;
  top:0;
}
#nav div {
  display:inline-block;
  padding-right: 20px;
}

a:hover, a:active {
  color: #888907;
}
.two-colum {
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  grid-column-gap: 25px;
}
.two-colum img {
  width: 20%;
}

.four-colum {
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  grid-column-gap: 25px;

}
.four-colum img {
  width: 10%;
}

img {
  max-width: 50%;
}
