body {
  background-color: #a2a832;
  margin-left: 100px;
  margin-right: 400px;
  line-height: 1.5;
  font-family: 'Gayathri', sans-serif;
  font-family: 'Manjari', sans-serif;
  font-family: 'Lobster', cursive;
}

a {
  color: #aee779
}

h1{color:#aee779
}

h1{color:#aee779
}

h2{color:#8cdd40
}

p{
  font-family: 'Gayathri', sans-serif;
  font-family: 'Manjari', sans-serif;
  font-family: 'Lobster', cursive;
  font-weight: 200;
  right-margin;
  font-style: normal;
  margin-right:300px;
  color:#60631a;
}
