
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@keyframes bgcolor {
    0% {
        background-color: #000000
    }

    30% {
        background-color: #FFFFFF
    }

    60% {
        background-color: #000000
    }

    90% {
        background-color: #FFFFFF
    }

    100% {
        background-color: #000000
    }
}
body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
#desktop (min-width: 1020px) and (max-width: 1040px){
    display: inline;
    position:absolute;
    top: 140px;
    left: 140px;
    transition: .5s ease;
}
#desktop2,
#tablet,
#tablet2,
#mobile,
#mobile2,
#print,
#print2
#tiny,
#tiny2,
#itty,
#itty2,
{
    display: none;
}
@media (min-width: 1010px) and (max-width: 1020px)  {
    body {
        background: grey;
    }
#desktop2 {
    display: inline;
    position:absolute;
    top: 140px;
    left: 140px;
    transition: .5s ease;
}
#desktop,
#tablet,
#tablet2,
#mobile,
#mobile2,
#print,
#print2
#tiny,
#tiny2,
#itty,
#itty2,{
    display: none;
}
/* tablet */
@media (min-width: 1000px) and (max-width: 1010px) {
    body {
        background: grey;
    }
    #tablet {
        display: inline;
        position:absolute;
        top: 140px;
        left: 140px;
        transition: .5s ease;
    }
    #desktop,
    #desktop2,
    #tablet2,
    #mobile,
    #mobile2,
    #print,
    #print2
    #tiny,
    #tiny2,
    #itty,
    #itty2,{
        display: none;
    }
/* tablet2 */
@media (min-width: 1000px) and (max-width: 1011px) {
    body {
        background: grey;
    }
    #tablet2 {
        display: inline;
        top: 140px;
        left: 140px;
        transition: .5s ease;
    }
    #desktop,
    #desktop2,
    #tablet,
    #mobile,
    #mobile2,
    #print,
    #print2
    #tiny,
    #tiny2,
    #itty,
    #itty2,{
        display: none;
    }
/* mobile */
@media (min-width: 890px) and (max-width: 900px) {
    body {
        background: white;
    }
    #mobile {
        display: inline;
        top: 140px;
        left: 140px;
        transition: .5s ease;
    }
    #desktop,
    #desktop2,
    #tablet,
    #tablet2,
    #mobile2,
    #print,
    #print2
    #tiny,
    #tiny2,
    #itty,
    #itty2,{
        display: none;
    }
  }
/* mobile2 */
@media (min-width: 840px) and (max-width: 850px) {
    body {
        background: white;
    }
    #mobile2 {
        display: inline;
        top: 140px;
        left: 140px;
        transition: .5s ease;
    }
    #desktop,
    #desktop2,
    #tablet,
    #tablet2,
    #mobile,
    #print,
    #print2
    #tiny,
    #tiny2,
    #itty,
    #itty2, {
        display: none;
    }
  }
}
/* print */
@media (min-width: 800px) {
    body {
        background: white;
    }
    #print {
        display: inline;
        color: black;
        top: 140px;
        left: 140px;
        transition: .5s ease;
    }
    #desktop,
    #desktop2,
    #tablet,
    #tablet2,
    #mobile,
    #mobile2,
    #print2
    #tiny,
    #tiny2,
    #itty,
    #itty2, {
        display: none;
    }
}
/* print2 */
@media (min-width: 750px) {
    body {
        background: white;
    }
    #print2 {
        display: inline;
        color: black;
        top: 140px;
        left: 140px;
        transition: .5s ease;
    }
    #desktop,
    #desktop2,
    #tablet,
    #tablet2,
    #mobile,
    #mobile2,
    #print,
    #tiny,
    #tiny2,
    #itty,
    #itty2,{
        display: none;
    }
}
/* tiny */
@media (min-width: 700px)tiny {
    body {
        background: white;
    }
    #tiny {
        display: inline;
        color: black;
        top: 140px;
        left: 140px;
        transition: .5s ease;
    }
    #desktop,
    #desktop2,
    #tablet,
    #tablet2,
    #mobile,
    #mobile2,
    #print,
    #print2
    #tiny2,
    #itty,
    #itty2, {
        display: none;
    }
}
/* tiny2 */
@media (max-width: 130px)tiny2 {
    body {
        background: white;
    }
    #tiny2 {
        display: inline;
        color: black;
        top: 140px;
        left: 140px;
        transition: .5s ease;
    }
    #desktop,
    #desktop2,
    #tablet,
    #tablet2,
    #mobile,
    #mobile2,
    #print,
    #print2
    #itty,
    #itty2, {
        display: none;
    }
}
/* itty */
@media (max-width: 110px)itty {
    body {
        background: white;
    }
    #itty {
        display: inline;
        color: black;
        top: 140px;
        left: 140px;
        transition: .5s ease;
    }
    #desktop,
    #desktop2,
    #tablet,
    #tablet2,
    #mobile,
    #mobile2,
    #print,
    #print2
    #tiny,
    #itty2, {
        display: none;
    }
}
/* itty2 */
@media (max-width: 80px)itty2 {
    body {
        background: white;
    }
    #itty2 {
        display: inline;
        color: black;
        top: 140px;
        left: 140px;
        transition: .5s ease;
    }
    #desktop,
    #desktop2,
    #tablet,
    #tablet2,
    #mobile,
    #mobile2,
    #print,
    #print2
    #tiny, {
        display: none;
    }
}
/* itty2 */
@media (max-width: 70px)itty2 {
    body {
        background: white;
    }
    #itty2 {
        display: inline;
        color: black;
    }
    #desktop,
    #desktop2,
    #tablet,
    #tablet2,
    #mobile,
    #mobile2,
    #print,
    #print2
    #tiny,
    #itty, {
        display: none;
    }
}
