
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: red;
  font-size: 100px;
  font-family: cheap-pine-shadow, sans-serif;
  font-weight: 400;

}
#question{
  display: flex;
  font-family: 'Advent Pro', sans-serif;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: yellow;
  width: 100vw;
  height: 100vh;
}
#answer {
  display: none;
}
/* hidden message */
@media (max-width: 1024px) {
  body {
   background-image: url(cow.jpg);


  }
  #answer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #F79C0A;
    width: 100vw;
    height: 100vh;
    font-family: 'Luckiest Guy', cursive;
    .typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


  }
  #question {
    display: none;
  }
}
