
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */

.unicorn {
  width:190px;
  height:250px;
  position:absolute;
  top: -145px;
  left: 142px;
  background-color: #F3D659;
  border-radius: 100px;
  border:8px opacity: 0.5; solid #97CEE9;
  transition-property: margin-right, color #F3D659;
  animation: shadow-pulse-big 17s infinite;
  }

#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background-image: repeating-radial-gradient(circle at 100%, #EF892D, #C5C62F 10px, #97CEE9 10px, #ffffff 20px);
        transition: all;
}



.circle{
  width:50px;
  height: 50px;
  background-color:#C5C62F;
  border-radius: 80px;
  border: 15px solid #EF892D ;
  position: absolute;
  top:10px;
  left:10px;
  transition: .9s ease;
  animation: shadow-pulse-big 8s infinite;
}


.circle2{
  width:100px;
  height: 100px;
  background-color:#E75F32;
  border-radius: 100px;
  border: 30px double #E9B2BF ;
  position:absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
  transition: .5s ease;
  animation: shadow-pulse 5s infinite;
}

.circle3{
  width:200px;
  height: 200px;
  background-color:#97CEE9;
  border-radius: 200px;
  border: 20px solid #C5C62F ;
  transition: .5s ease;
  animation: shadow-pulse 13s infinite;

}

.circle4{
  width:44px;
  height: 44px;
  background-color:#F9CDE0;
  opacity: 0.5;
  border-radius: 200px;
  border: 8px solid #F3D659 ;
  position: absolute;
  top: -170px;
  left: 224px;
  z-index: 6;
  animation: shadow-pulse 13s infinite;

}

.circle5{
  width:500px;
  height: 300px;
  background-color:;
  border-radius: 400px;
  top: 50px;
  left: 5px;
  transition: .5s ease;
  animation: shadow-pulse-big 10s infinite;
}

.circle6{
  width:50px;
  height:50px;
  position:absolute;
  top: 11px;
  left: 322px;
  background-color: #F3D659;
  border-radius: 100px;
  border:8px solid #97CEE9;
  transition-property: margin-right, color #F3D659;
  animation: shadow-pulse-big 3s infinite;
  }

  .circle7{
    width:50px;
    height:50px;
    position:absolute;
    top: -119px;
    left: 122px;
    background-color: #F3D659;
    opacity: 0.5;
    border-radius: 77px;
    border:8px solid #97CEE9;
    transition-property: margin-right, color #F3D659;
    animation: shadow-pulse-big .2s infinite;
    }


.wrapper{
  padding: 20px;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 3 0 0 0px rgba(108, 238, 236, 1.2);
  }
  40% {
    box-shadow: 0 0 0 35px rgba(158, 238, 108, 1);
  }

}

@keyframes shadow-pulse-big
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  }
  60% {
    box-shadow: 0 0 0 60px rgba(238, 108, 223, 1);
  }
}

.circle-1
{
  float: left;
  margin: 100px;
  width: 130px;
  height: 130px;
  font: 13px/130px 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #E9B2BF;
  text-align: center;
  background: rgba(30, 144, 255, 0.6);
  border-radius: 50%;
  animation: shadow-pulse 3s infinite;
}

/* second circle */
