
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: white;
}

div{
  display:inline-flex;
}
.circle{
  width:50px;
  height: 50px;
  background-color:#C5C62F;
  border-radius: 80px;
  border: 15px solid #EF892D ;
  position: absolute;
  top:10px;
  left:10px;
}

.circle2{
  width:100px;
  height: 100px;
  background-color:#E75F32;
  border-radius: 100px;
  border: 30px solid #E9B2BF ;
  position:absolute;
  top: 40px;
  left: 40px;
  z-index: 2;


}

.circle3{
  width:200px;
  height: 200px;
  background-color:#97CEE9;
  border-radius: 200px;
  border: 20px solid #C5C62F ;


}
.circle4{
  width:18px;
  height: 18px;
  background-color:#97CEE9;
  border-radius: 200px;
  border: 5px solid #F3D659 ;
  position: absolute;
  top: 10px;
  left: 12px;
  z-index: 1;
}
/* second circle */

img{
  position: absolute;
  top: 20px;
  left:150px;
  width: 250px;
  height: 250px;

}
