
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background-image: linear-gradient(0deg,
           #0b090f 25%, #f2f0f5 25%, #f2f0f5
           50%, #0b090f 50%, #0b090f 75%,
           #f2f0f5 75%, #f2f0f5 100%);
        background-size: 80.00px 80.00px;
}


img{
  position: absolute;
  top: -70px;
  left:-60px;
  width: 350px;
  height: 250px;

}/* shapes */
#stars {
        width: 50px;
        height: 50px;
        border-radius: 75px;
}
