
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: pin;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: pink;
        background-image:
         linear-gradient(0deg,
            #0f0e0e 25%, #f0f6fa
             25%, #f0f6fa 50%,
              #0f0e0e 50%, #0f0e0e
               75%, #f0f6fa 75%,
               #f0f6fa 100%);
        background-size:
         80.00px 80.00px;
}




img{
  position: absolute;
  top: -110px;
  left:-40px;
  width: 350px;
  height: 350px;

}
